{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TVs and Fridges</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:300,400,700">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>

<div class="w3-bar w3-blue">
    <a class="w3-bar-item w3-button w3-mobile" href="{% url 'main_page' %}">Main</a>
    <a class="w3-bar-item w3-button w3-mobile" href="{% url 'products_list' category="fridge" %}">Fridges</a>
    <a class="w3-bar-item w3-button w3-mobile" href="{% url 'products_list' category="tv" %}">TVs</a>
</div>

{% block content %}
{% endblock %}

{% include 'engine/modal-window.html' %}

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{% static 'js/main.js' %}"></script>
</html>
